<!doctype html>
<html lang="en">
<div class="container">
    <form method="POST" action="http://api.formspree.com/ldecrespigny@gmail.com">
    
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input name="name" type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
        </div>
    
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="_replyto" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
    
        <div class="form-group">
            <label for="exampleTextArea">How can we help?</label>
            <textarea name="message" class="form-control" rows="3"></textarea>    
        </div>
      
      
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43881924-5', 'outsourcestore.com');
  ga('send', 'pageview');

</script>

</html>