
<div class="container section">

	<div class="row">

		<a href="list1">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">Premade templates</h2><br>
						  <li class="list-group-item">Business cards</li>
						  <li class="list-group-item">Documents</li>
						  <li class="list-group-item">Banners</li>
						  <li class="list-group-item">Flyers</li>
						  <li class="list-group-item">Pamflets</li>
						  <li class="list-group-item">Stationary</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>

		<a href="list1">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">Simple design tasks</h2><br>
						  <li class="list-group-item">Stylized name</li>
						  <li class="list-group-item">Logos</li>
						  <li class="list-group-item">Banner adds</li>
						  <li class="list-group-item">Business cards</li>
						  <li class="list-group-item">Business documents</li>
						  <li class="list-group-item">Small changes to current work</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>



		<a href="list1">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">More complex tasks</h2><br>
						  <li class="list-group-item">Website design</li>
						  <li class="list-group-item">App design</li>
						  <li class="list-group-item">1-1 projects</li>
						  <li class="list-group-item">Long term projects</li>
						  <li class="list-group-item">Top local design companies</li>
						  <li class="list-group-item">Hire a designer</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>


	</div>
</div>

<div class="content-section-b">

	<div class="container">
		<div class="row section">
			<a href="list1">
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
					 	<div class="caption">
					 	<h2 class="center">Make it a reality - find the right developer</h2>
					 	</div>
					</div>
				</div>
			</a>




			<a href="list1">
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
					 	<div class="caption">
					 	<h2 class="center">Need help? Contact our design consultants</h2>
					 	</div>
					</div>
				</div>
			</a>
		</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

