
<div class="container section">

<h1 class="center">Que tipo de serviço você está procurando?</h1>
<br>
<br>
	<div class="row">

		<a href="list1">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">Modelos prontos</h2><br>
						  <li class="list-group-item">Cartões de Visita (template)</li>
						  <li class="list-group-item">Documentos (template)</li>
						  <li class="list-group-item">Banners (template)</li>
						  <li class="list-group-item">Flyers (template)</li>
						  <li class="list-group-item">Panfleto (template)</li>
						  <li class="list-group-item">Papel (template)</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>

		<a href="list2">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">Designs simples</h2><br>
						  <li class="list-group-item">Nome e slogan</li>
						  <li class="list-group-item">Logotipos</li>
						  <li class="list-group-item">Banners  (novo design/criação)</li>
						  <li class="list-group-item">Cartões de Visita (design novo)</li>
						  <li class="list-group-item">Documentos (design novo)</li>
						  <li class="list-group-item">Mudanças para seus designs atuais</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>



		<a href="list3">
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail">
			        <div class="caption">
						<ul class="list-group">
						  <h2 class="center">Designs complexos</h2><br>
						  <li class="list-group-item">Websites</li>
						  <li class="list-group-item">Aplicativos</li>
						  <li class="list-group-item">Contratar um designer freelancer</li>
						  <li class="list-group-item">Freelancers online e perto de você</li>
						  <li class="list-group-item">Ache empresas de design na sua área</li>
						  <li class="list-group-item">Contratar um designer</li>
						</ul>
			        </div>

			    </div>
			</div>
		</a>


	</div>
</div>

<div class="content-section-b">

	<div class="container">
		<div class="row section">
			<a href="coming_soon">
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
					 	<div class="caption">
					 	<h2 class="center">Use seu design e fazer um site – rápido e barato</h2>

					 	</div>
					</div>
				</div>
			</a>
			
			


			<a href="contact">
				<div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
					 	<div class="caption">
					 	<h2 class="center" style="height:65px">Precisa de ajuda? Fale conosco</h2>
					 	</div>
					</div>
				</div>
			</a>
		</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

