<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pictures Template for Bootstrap 3</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Full Width Pics' Template -->
    
    <meta name="verification" content="5fa55c0ecf390da70f87e4ea2ca05798" />
</head>

<body>



    <div class="full-width-image-1">

    
    <div class="container center">
        <div class="row">
            <div class="center">
                <h1 class="section-heading">Solução Certa</h1>
                <p class="lead section-lead">Ache o melhor serviço de design para o seu negócio</p>
				<%= link_to "Ache o melhor serviço agora", "dashboard", class: "btn btn-primary btn-lg center" %>
            </div>
        </div>
  
    </div>

    </div>
    <!-- /full-width-image-1 -->


    <div class="container section">

	<h2 class="center">Por que eu deveria usar Solução Certa?</h2>


        <div class="row section">
            <div class="col-md-4">
              <h3 class="caption thumbnail center">Compare os melhores serviços de design online e local</h3>
            </div>
            
            <div class="col-md-4">
                <h3 class="caption thumbnail center">Preços podem variar em até 10x para o mesmo trabalho de design!</h3>
            </div>
            
            <div class="col-md-4">
                <div class="caption thumbnail center"> 
                <h3 style="height:38px">Serviço 100% gratuito!</h3>
                </div>
            </div>

        </div>
    </div>

    <div class="content-section-b">
	<h2 class="center">Como funciona?</h2>

	<div class="container">
        <div class="row section">
            <div class="col-md-4 imgcenter">
                <%= image_tag("one.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <div class="titlebox-white caption thumbnail center">
                   <h3 style="height:75px">Selecione suas necessidades de design</h3>
                </div>
            </div>
            
            <div class="col-md-4">
                <%= image_tag("two.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <div class="titlebox-white caption thumbnail center">
                   <h3 style="height:75px"> Veja as soluções recomendadas</h3>
                </div>
            </div>
            
            <div class="col-md-4">
                <%= image_tag("three.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <div class="titlebox-white caption thumbnail center">
                   <h3 style="height:75px">Compare preços e benefícios para selecionar o melhor serviço para o seu negócio</h3>
                </div>
            </div>


        </div>
    </div>
	</div>


    <!-- FOOTER -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </footer>
    </div>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>




</html>




