<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pictures Template for Bootstrap 3</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Full Width Pics' Template -->
    <link href="css/full-width-pics.css" rel="stylesheet">
    <meta name="verification" content="5fa55c0ecf390da70f87e4ea2ca05798" />
</head>

<body>



    <div class="full-width-image-1">

    
    <div class="container center">
        <div class="row">
            <div class="center">
                <h1 class="section-heading">Better Design</h1>
                <p class="lead section-lead">Find the right design service for your business</p>
				<%= link_to "Find the right service now", "dashboard", class: "btn btn-primary btn-lg center" %>
            </div>
        </div>
  
    </div>

    </div>
    <!-- /full-width-image-1 -->


    <div class="container section">

	<h2 class="center">Why should I use Better Design?</h2>


        <div class="row section">
            <div class="col-md-3 imgcenter">
              <h3 class="caption thumbnail center">Choose from the best innovative design services worldwide</h3>
            </div>
            
            <div class="col-md-3">
                <h3 class="caption thumbnail center">Having trouble choosing a designer? Let us help</h3>
            </div>
            
            <div class="col-md-3">
                <h3 class="caption thumbnail center">Prices can vary by up to 10x for the same design work!</h3>
            </div>
            <div class="col-md-3">
                <h3 class="caption thumbnail center">Free to use, no Obligation to pay</h3>
            </div>

        </div>
    </div>

    <div class="content-section-b">
	<h2 class="center">How does Better Design work?</h2>

	<div class="container">
        <div class="row section">
            <div class="col-md-4 imgcenter">
                <%= image_tag("one.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <h3 class="titlebox-white caption thumbnail center">Select your design needs</h3>
            </div>
            
            <div class="col-md-4">
                <%= image_tag("two.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <h3 class="titlebox-white caption thumbnail center" >View the recommended solutions</h3>
            </div>
            
            <div class="col-md-4">
                <%= image_tag("three.jpg", class: "titlebox-white imgcenter img-responsive text-center caption thumbnail", size: "100x100") %>
                <h3 class="titlebox-white caption thumbnail center">Compare pros and cons to select the best service</h3>
            </div>


        </div>
    </div>
	</div>


    <!-- FOOTER -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </footer>
    </div>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43881924-5', 'outsourcestore.com');
  ga('send', 'pageview');

</script>


</html>




