<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pictures Template for Bootstrap 3</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Full Width Pics' Template -->
    <link href="css/full-width-pics.css" rel="stylesheet">
</head>

<body>



    <div class="full-width-image-1">

    
    <div class="container center">
        <div class="row">
            <div class="center">
                <h1 class="section-heading">Better Design</h1>
                <p class="lead section-lead">Find the right design service for your business</p>
				<%= link_to "Find the right service now", "#", class: "btn btn-primary btn-lg" %>
            </div>
        </div>
  
    </div>

    </div>
    <!-- /full-width-image-1 -->


    <div class="container section">

	<h2 class="center">Why should I use Better Design?</h2>


        <div class="row section">
            <div class="col-md-3 imgcenter">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Choose from the best innovative design services worldwide</h3>
            </div>
            
            <div class="col-md-3">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Having trouble choosing a designer? Let us help</h3>
            </div>
            
            <div class="col-md-3">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Prices can vary by up to 10x for the same design work!</h3>
            </div>
            <div class="col-md-3">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Free to use, no Obligation to pay</h3>
            </div>

        </div>
    </div>

    <div class="content-section-b">
	<h2 class="center section">How does Better Design work?</h2>

	<div class="container">
        <div class="row section">
            <div class="col-md-4 imgcenter">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Select your design needs</h3>
            </div>
            
            <div class="col-md-4">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>View the recommended solutions</h3>
            </div>
            
            <div class="col-md-4">
                <img class="imgcenter img-responsive text-center" src="http://placehold.it/100x100">
                <h3>Compare prices and use the best service</h3>
            </div>


        </div>
    </div>
	</div>


    <!-- FOOTER -->
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Company 2013
                </div>
            </div>
        </footer>
    </div>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>




