
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Serviço</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Descrição</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Preços</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-2 col-lg-2 col-md-2">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Idioma</h2><br>
			        </div>
			    </div>
			</div>

	</div>

			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">99designs Logos Prontos</h2>
								<br>
								<a class="btn btn-default btn-sm" href="http://www.kqzyfj.com/click-7485696-10793357?cm_mmc=CJ-_-4219853-_-7485696-_-Logo%20Store%20-%20Text" target="_blank" onclick="trackOutboundLink(‘http://www.99designs/logo.com’); return false;">Website</a><img src="http://www.lduhtrp.net/image-7485696-10793357" width="1" height="1" border="0"/>
			        		</div>
			        		<div class="col-sm-4 col-lg-4 col-md-4">
								Escolha entre uma grande lista de logos e receba-os personalizados com o nome da sua empresa em até 24 horas
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								BR$230
			        		</div>
			        		<div class="col-sm-2 col-lg-2 col-md-2 center">
								Ingles
			        		</div>
						</div>
			        </div>
			</div>

			<div class="col-sm-12 thumbnail">
			    <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">ZocPrint</h2>
								<br>
								<a class="btn btn-default btn-sm" href="http://www.zocprint.com.br" onclick="trackOutboundLink(‘http://www.zocprint.com.br’); return false;" target="_blank">Website</a>
			        		</div>
			        		
			        		<div class="col-sm-4 col-lg-4 col-md-4">
								Você pode personalizar materiais de escritório como cartões de visita, folhetos e flyers. Utilize sua própria imagem ou escolha um dos nosso milhares de modelos, personalize com suas informações ou faça upload das suas fotos. ZocPrint produz e entrega em todo o território nacional.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Flyers, Cartões de Visita, etc, R$30+
			        		</div>
			        		<div class="col-sm-2 col-lg-2 col-md-2 center">
								Português
			        		</div>

						</div>
			    </div>
			</div>


<!--
			<div class="col-sm-12 thumbnail">
			    <div class="caption">
						<div class="row">

	       		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">99designs swiftly</h2>
								<br>
								<a class="btn btn-default btn-sm" href="http://www.dpbolvw.net/click-7485696-10792365?cm_mmc=CJ-_-4219853-_-7485696-_-Graphic%20Design%20-%20Text" target="_blank" onclick="trackOutboundLink(‘http://www.99designs.com’); return false;">Go to site</a><p> (Follo the link to "Swiftly at bottom of the page")</p><img src="http://www.lduhtrp.net/image-7485696-10792365" width="1" height="1" border="0"/>
			        		</div>
			        		<div class="col-sm-4 col-lg-4 col-md-4">
								Describe the job you want done, upload any supported files, pre-pay the $19, and a professional graphic designer will complete your job in less than one hour. You can request revisions until you're completely happy with the work.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								$19
			        		</div>
			        		<div class="col-sm-2 col-lg-2 col-md-2 center">
								Português
						      </div>

						</div>
			    </div>
			</div>
-->


			<div class="col-sm-12 thumbnail">
			    <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">Brandcrowd</h2>
								<br>
								<a class="btn btn-default btn-sm" href="http://www.brandcrowd.com" onclick="trackOutboundLink(‘http://www.brandcrowd.com’); return false;" target="_blank">Website</a>
			        		
			        		</div>
			        		<div class="col-sm-4 col-lg-4 col-md-4">
								Mercado livre para logotipos: Compra e venda de logotipos online.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Ofertas de qualquer preço são permitidas 
								<p>Preços sugeridos normalmente em torno de R$230+<p>

			        		</div>
			        		<div class="col-sm-2 col-lg-2 col-md-2 center">
								Inglês	
			        		</div>

						</div>
			    </div>
			</div>

			<div class="col-sm-12 thumbnail">
			    <div class="caption">
						<div class="row">

	       			<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">LogoNerds</h2>
								<br>
								<a class="btn btn-default btn-sm" href="http://www.shareasale.com/r.cfm?b=107871&u=929145&m=15608&urllink=&afftrack=" target="_blank" onclick="trackOutboundLink(‘http://www.logonerds.com’); return false;">Website</a>
			        		</div>
			        		<div class="col-sm-4 col-lg-4 col-md-4">
								Empresa que realiza o processo de design inteiramente online. Fornece aprox 3 conceitos com revisões.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<p>Logotipo Web: R$60</p>
								<p>Logo Negócio: R$110</p>
								<p>Mascote Caráter: R$225</p>
			        		</div>
			        		<div class="col-sm-2 col-lg-2 col-md-2 center">
								Inglês
			        		</div>
						
						</div>
			    </div>
			</div>
<%= link_to "Volte", "dashboard", class: "btn btn-default btn-lg titlebox" %>

</div>