
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Serviço</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Descrição</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Preços</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-2 col-lg-2 col-md-2">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Idioma</h2><br>
			        </div>
			    </div>
			</div>

	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">Logovia</h2>
				<br>
				<a class="btn btn-default btn-sm" href="http://www.logovia.com" target="_blank" onclick="trackOutboundLink(‘http://www.logovia.com’); return false;">Website</a>
    		</div>
    		<div class="col-sm-4 col-lg-4 col-md-4">
				Site de concurso de designs brasileiro: crie seu projeto, e diferentes designers submeterão trabalhos para sua avaliação. Você escolhe o seu favorito, que recebe o pagamento pelo projeto. 
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
				<p>Flyer: R$299</p>
				<p>Logo: R$299</p>
				<p>Site: R$999</p>
    		</div>
			<div class="col-sm-2 col-lg-2 col-md-2 center">
    			Português
    		</div>

			</div>
    </div>
	</div>

	<div class="col-sm-12 thumbnail">
	  <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">99designs</h2>
					<br>
					<a class="btn btn-default btn-sm" href="http://www.dpbolvw.net/click-7485696-10792365?cm_mmc=CJ-_-4219853-_-7485696-_-Graphic%20Design%20-%20Text" target="_blank" onclick="trackOutboundLink(‘http://www.99designs.com’); return false;">Website</a>
					<img src="http://www.lduhtrp.net/image-7485696-10792365" width="1" height="1" border="0"/>
		</div>
		<div class="col-sm-4 col-lg-4 col-md-4">
					Site de concurso de designs: crie seu projeto, e diferentes designers submeterão trabalhos para sua avaliação. Você escolhe o seu favorito, que recebe o pagamento pelo projeto. 
					<p>Recebe ~ 99 propostas.</p>

		</div>
		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<p>Flyer: R$460</p>
					<p>Logo: R$690</p>
					<p>Site: $1.385</p>
     		</div>
		<div class="col-sm-2 col-lg-2 col-md-2 center">
			Inglês
     		</div>
	
			</div>
	  </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
		<div class="row">

			<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">WeDoLogos</h2>
				<br>
				<a class="btn btn-default btn-sm" href="http://www.dpbolvw.net/click-7485696-10792365?cm_mmc=CJ-_-4219853-_-7485696-_-Graphic%20Design%20-%20Text" target="_blank" onclick="trackOutboundLink(‘http://www.wedologos.com’); return false;">Website</a>
				<img src="http://www.lduhtrp.net/image-7485696-10792365" width="1" height="1" border="0"/>
    		</div>
    		<div class="col-sm-4 col-lg-4 col-md-4">
				Site de concurso de designs brasileiro: crie seu projeto, e diferentes designers submeterão trabalhos para sua avaliação. Você escolhe o seu favorito, que recebe o pagamento pelo projeto.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
				<p>Logo: R$240</p>
				<p>Site: R$795</p>
    		</div>
			<div class="col-sm-2 col-lg-2 col-md-2 center">
    			Português
    		</div>

		</div>
    </div>
	</div>



	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">TheLogoCompany</h2>
					<br>
					<a class="btn btn-default btn-sm" href="http://www.jdoqocy.com/click-7485696-10529948" target="_blank" onclick="trackOutboundLink(‘http://www.thelogocompany.com’); return false;">Website</a><img src="http://www.tqlkg.com/image-7485696-10529948" width="1" height="1" border="0"/>
	    		</div>
   		 		<div class="col-sm-4 col-lg-4 col-md-4">
					Empresa que realiza o processo de design inteiramente online. Fornece ~5 conceitos com revisões.
	    		</div>
	    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					Logo: R$350
	    		</div>
			<div class="col-sm-2 col-lg-2 col-md-2 center">
					Inglês
	    		</div>

			</div>
    </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

 			<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">Crowdspring</h2>	
				<a class="btn btn-default btn-sm" href="http://www.crowdspring.com" target="_blank" onclick="trackOutboundLink(‘http://www.crowdspring.com’); return false;">Website</a>
      		</div>
    		<div class="col-sm-4 col-lg-4 col-md-4">
				Site de concurso de designs: crie seu projeto, e diferentes designers submeterão trabalhos para sua avaliação. Você escolhe o seu favorito, que recebe o pagamento pelo projeto. 
				<p>Recebe >100 propostas.</p>

      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
				<p>Flyer: R$920</p>
				<p>Logo: R$690</p>
				<p>Site: R$2080</p>
      		</div>
			<div class="col-sm-2 col-lg-2 col-md-2 center">
      			Inglês
      		</div>

			</div>
    </div>
	</div>



	<div class="col-sm-12 thumbnail">
	  <div class="caption">
			<div class="row">

   				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">Logoworks</h2>
					<br>
					<a class="btn btn-default btn-sm" href="http://www.logoworks.com" target="_blank" onclick="trackOutboundLink(‘http://www.logoworks.com’); return false;">Website</a>
       			</div>
    			<div class="col-sm-4 col-lg-4 col-md-4">
					Empresa que realiza o processo de design inteiramente online. Fornece ~4 conceitos com revisões.
		  		</div>
		  		<div class="col-sm-3 col-lg-3 col-md-3 center">
					
					<p>Logo: R$690</p>
					<p>Site: R$1.150</p>

		  		</div>
				<div class="col-sm-2 col-lg-2 col-md-2 center">
		  			Inglês
		  		</div>

			</div>
	  </div>
	</div>


<%= link_to "Volte", "dashboard", class: "btn btn-default btn-lg titlebox" %>

</div>


