
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Service</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Description</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Portuguese?</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Links</h2><br>
			        </div>
			    </div>
			</div>

	</div>

			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">99designs ready made logos</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Choose from a large list of logos and receive it customized with your business name within 24 hours
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Yes
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://99designs.com/logo-design/store" onclick="trackOutboundLink('http://99designs.com/logo-design/store'); return false;" target="_blank"> Visit site - event1</a>

			        		</div>
						
						</div>
			        </div>
			</div>

			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">ZocPrint</h2>
			        		
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Você pode personalizar materiais de escritório como cartões de visita, folhetos e flyers; brindes como canetas, pen drives, canecas. Utilize sua própria imagem ou então escolha um dos milhares templates e personalizar. Iremos produzir e entregamos em todo o território nacional.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Yes
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://www.zocprint.com.br" target="_blank">Visit site</a>
								<a class="btn btn-default btn-sm" href="http://www.zocprint.com.br" onclick="trackOutboundLink('http://www.zocprint.com.br'); return false;" target="_blank"> Visit site - event2</a>
			        		</div>

						</div>
			        </div>
			</div>



			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">99designs swiftly</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Describe the job you want done, upload any supported files, pre-pay the $19, and a professional graphic designer will complete your job in less than one hour. You can request revisions until you're completely happy with the work.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Yes
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="https://swiftly.com/" target="_blank">Visit site</a>
			        		</div>

						</div>
			        </div>
			</div>



			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">Brandcrowd</h2>
			        		
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Buy and sell logos online. Think E-bay for logos.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Yes
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://www.brandcrowd.com" target="_blank">Visit site</a>
			        		</div>

						</div>
			        </div>
			</div>

			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">LogoNerds</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Professional design firm that can carry out design process entirely online. Provides aprox 3 concepts with revisions until you are satisfied.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								No
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://www.logonerds.com" target="_blank">Visit site</a>
			        		</div>
						
						</div>
			        </div>
			</div>
<%= link_to "Back", "dashboard", class: "btn btn-default btn-lg titlebox" %>


</div>
