
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Service</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Description</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Portuguese?</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Links</h2><br>
			        </div>
			    </div>
			</div>

	</div>

			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">99designs</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
										Design contest site: Post your project to a marketplace, where designers compete by submiting designs to you. You choose your favourite, who receives your fee.
										Expect to receive ~99 designs and suggest improvements to proposals.
										Moneyback guarantee
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								Yes
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://www.99designs.com" target="_blank">Visit site</a>
			        		</div>
						
						</div>
			        </div>
			</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">WeDoLogos</h2>
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3">
					Design contest site: Post your project to a marketplace, where designers compete by submiting designs to you. You choose your favourite, who receives your fee.
					Allows you to choose price, with the higher the price, the more proposals you receive. Allows flexibility to pay to add moneyback guarantee and other perks.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					Yes
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<a class="btn btn-default btn-sm" href="http://www.wedologos.com.br/" target="_blank">Visit site</a>
    		</div>

			</div>
    </div>
	</div>





	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

 					<div class="col-sm-3 col-lg-3 col-md-3 center">
						<h2 class="center">Crowdspring</h2>		
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3">
						Design contest site: Post your project to a marketplace, where designers compete by submiting designs to you.  You choose your favourite, who receives your fee.
						Expect to receive >100 designs, suggest improvements to proposals.
						Moneyback guarantee
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
						No
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
						<a class="btn btn-default btn-sm" href="http://www.crowdspring.com" target="_blank">Visit site</a>
      		</div>

			</div>
    </div>
	</div>



			<div class="col-sm-12 thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3 center">
								<h2 class="center">Logoworks</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
										Professional design firm that can carry out design process entirely online. Provides aprox 4 concepts with revisions.
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
										No
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3 center">
								<a class="btn btn-default btn-sm" href="http://www.logoworks.com" target="_blank">Visit site</a>
			        		</div>

						</div>
			        </div>
			</div>



	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

					<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">Crowdsite</h2>
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3">
					Design contest site: Post your project to a marketplace, where designers compete by submiting designs to you. You choose your favourite, who receives your fee.
					Allows you to choose price, with the higher the price, the more proposals you receive.Allows flexibility to pay to add moneyback guarantee and other perks.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					No
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<a class="btn btn-default btn-sm" href="http://www.crowdsite.com" target="_blank">Visit site</a>
    		</div>

			</div>
    </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">TheLogoCompany</h2>
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3">
					Professional design firm that can carry out design process entirely online. Provides aprox 5 concepts with revisions.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					No
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<a class="btn btn-default btn-sm" href="http://www.thelogocompany.net/" target="_blank">Visit site</a>
    		</div>

			</div>
    </div>
	</div>

<%= link_to "Back", "dashboard", class: "btn btn-default btn-lg titlebox" %>

</div>
