
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Service</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Description</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Price</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Links</h2><br>
			        </div>
			    </div>
			</div>

	</div>

	<div class="col-sm-12 thumbnail">
    <div class="caption">
				<div class="row">

 					<div class="col-sm-3 col-lg-3 col-md-3 center">
						<h2 class="center">Workana</h2>
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3">
						Large pool of low cost portuguese speaking design freelancers. Best for ongoing, low cost work.
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
						~$5-$15 per hour for freelancers
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
						<a class="btn btn-default btn-sm" href="http://www.workana.com" target="_blank" onclick="trackOutboundLink(‘http://www.workana.com’); return false;">Visit site</a>
      		</div>
			
			</div>
    </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">Freelancer</h2>
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3">
						Large pool of low cost design freelancers. Best for ongoing, low cost work.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					~$5-$15 per hour for freelancers
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<a class="btn btn-default btn-sm" href="http://www.freelancer.com/affiliates/ldec/" target="_blank" onclick="trackOutboundLink(‘http://www.freelancer.com/affiliates/ldec/’); return false;">Visit site</a>
  		</div>

    		</div>

			</div>
    </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
		<div class="row">

			<div class="col-sm-3 col-lg-3 col-md-3 center">
			<h2 class="center">oDesk</h2>		
  		</div>
  		<div class="col-sm-3 col-lg-3 col-md-3">
			Access to professional designers from Across the world, from India to the USA. Easy to use platform.
  		</div>
  		<div class="col-sm-3 col-lg-3 col-md-3 center">
			~$5-$50 per hour for professional freelance designers
  		</div>
  		<div class="col-sm-3 col-lg-3 col-md-3 center">
			<a class="btn btn-default btn-sm" href="http://www.odesk.com/" target="_blank" onclick="trackOutboundLink(‘http://www.odesk.com/’); return false;">Visit site</a>
  		</div>

		</div>
    </div>
	</div>



	<div class="col-sm-12 thumbnail">
	  <div class="caption">
			<div class="row">

					<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">Highest quality design agencies</h2>
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3">
					See our list of faourite professional design firms located near you
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					No
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
					<a class="btn btn-default btn-sm" href="local_agency">Visit site</a>
    		</div>

			</div>
	  </div>
	</div>

<%= link_to "Back", "dashboard", class: "btn btn-default btn-lg titlebox" %>

</div>

