
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail">
			        <div class="caption">
						<h2 class="center">Service</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail">
			        <div class="caption">
						<h2 class="center">Description</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail">
			        <div class="caption">
						<h2 class="center">Prices</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail">
			        <div class="caption">
						<h2 class="center">Pros/Cons</h2><br>
			        </div>
			    </div>
			</div>

	</div>

			<div class="col-sm-12">
			    <div class="thumbnail">
			        <div class="caption">
						<div class="row">

	       					<div class="col-sm-3 col-lg-3 col-md-3">
								<h2 class="center">99designs</h2>
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								Choose from a large list of logos and receive it customized with your business name within 24 hours
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								$99 per logo
			        		</div>
			        		<div class="col-sm-3 col-lg-3 col-md-3">
								<h4>Pros:</h4>
								Money back guarantee
			        		</div>
						
						</div>
			        </div>
			    </div>
			</div>
</div>
