
<div class="container section">

	<div class="row">


			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Serviço</h2><br>
			        </div>
			    </div>
			</div>


			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Descrição</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-3 col-lg-3 col-md-3">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Preços</h2><br>
			        </div>
			    </div>
			</div>

			<div class="col-sm-2 col-lg-2 col-md-2">
			    <div class="thumbnail titlebox">
			        <div class="caption">
						<h2 class="center">Idioma</h2><br>
			        </div>
			    </div>
			</div>

	</div>

	<div class="col-sm-12 thumbnail">
	  <div class="caption">
			<div class="row">

			<div class="col-sm-3 col-lg-3 col-md-3 center">
					<h2 class="center">Agencias de alto qualidade</h2>
					<br>
					<a class="btn btn-default btn-sm" href="local_agency">Vai para site</a>
    		</div>
    		<div class="col-sm-4 col-lg-4 col-md-4">
				Veja nosso lista de agencias de design favoritas na sua cidade
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
				Depende do projeto
    		</div>
    		<div class="col-sm-2 col-lg-2 col-md-2 center">
				Português
    		</div>
    			
			</div>
	  </div>
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

 			<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">Workana</h2>
				<a class="btn btn-default btn-sm" href="http://www.workana.com" target="_blank" onclick="trackOutboundLink(‘http://www.workana.com’); return false;">Vai para site</a>
      		</div>
      		<div class="col-sm-4 col-lg-4 col-md-4">
				Grande fonte de freelancers de design de baixo custo. Melhor para trabalho de baixo custo.
      		</div>
      		<div class="col-sm-3 col-lg-3 col-md-3 center">
				~R$10-$30 por hora para freelancers
      		</div>
      		<div class="col-sm-2 col-lg-2 col-md-2 center">
				Português
      		</div>
			
			</div>
    </div>
	</div>


	<div class="col-sm-12 thumbnail">
  	<div class="caption">
			<div class="row">

			<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">Freelancer</h2>
					<a class="btn btn-default btn-sm" href="http://www.freelancer.com/affiliates/ldec/" target="_blank" onclick="trackOutboundLink(‘http://www.freelancer.com/affiliates/ldec/’); return false;">Vai para site</a>
    		</div>
			<div class="col-sm-4 col-lg-4 col-md-4">
				Grande fonte de freelancers de design de baixo custo. Melhor para trabalho de baixo custo.
    		</div>
    		<div class="col-sm-3 col-lg-3 col-md-3 center">
				~R$10-$30 por hora para freelancers
    		</div>
    		<div class="col-sm-2 col-lg-2 col-md-2 center">
    			Inglês
	 		</div>

  		</div>
		</div>   
	</div>


	<div class="col-sm-12 thumbnail">
    <div class="caption">
			<div class="row">

				<div class="col-sm-3 col-lg-3 col-md-3 center">
				<h2 class="center">oDesk</h2>		
				<br>
				<a class="btn btn-default btn-sm" href="http://www.odesk.com/" target="_blank" onclick="trackOutboundLink(‘http://www.odesk.com/’); return false;">Vai para site</a>
	  		</div>
	   		<div class="col-sm-4 col-lg-4 col-md-4">
				Grande fonte de designers profissionais de todo o mundo, da Índia até os EUA. Plataforma fácil de usar.
	  		</div>
	  		<div class="col-sm-3 col-lg-3 col-md-3 center">
				~R$20 - R$100 por hora para designers profissionais autônomos
	  		</div>
	  		<div class="col-sm-2 col-lg-2 col-md-2 center">
	  			Inglês
	  		</div>

			</div>
    </div>
	</div>



<%= link_to "Volte", "dashboard", class: "btn btn-default btn-lg titlebox" %>

</div>

